.list-service {
    color: #00ff04;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-card img{
    height: 50vh;
    width: 50vh;
    max-height: 250px;
    max-width: 250px;
}
.service-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 40vh;
    width: 120vh;
}
.item-service{
    background-color: #ff4800;
}

.register-data{
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: aqua;
}
.header-register{
    display: flex;
    background-color: #ff00c8;

}
.main-container {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.history-section{
    background-color: blue;
    height: 100vh;
    width: 80%;
}