.header-register{
    display: flex;
}

.register-data{
    line-height: 0.2;
    justify-content: center;
    padding: 5px 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.main-page-register{
    padding: 20px;
}