<div class="logo">
    <img src="/static/images/logo.png" alt="Logo de martillo">
</div>
<nav>
    <ul class="menu">
        <li><button class="user-btn" onclick="window.location.href='http://127.0.0.1:5500/views/homepage.html';">Inicio</button></li>
        <li><button class="user-btn" onclick="window.location.href='http://127.0.0.1:5500/views/categorys.html';">Explorar</button></li>
        <li><button class="user-btn">Agregar servicio</button></li>
        <li><button class="user-btn">Historial</button></li>
    </ul>
</nav>
<div class="login">
    <button class="login-btn">👤 Acceder</button>
</div>
