<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/styles-history.css">
</head>
<body>
    <header></header>
    <main class="main-container">
        <h1> Historial de servicios</h1>
        <section class="history-section">
            <ul class="list-service">
                <li class="item-service">
                    <article class="service-card">
                        <div class="header-register">
                            <img src="/static/images/perfill.png" width="100" alt="Perfil de usuario" class="profile-img">
                            <div class="register-data">
                                <h3>Jorge Soteldo</h3>
                                <h5>Servicio: Carpintero</h5>
                                <h5>Tarifa: 50.000gs</h5>
                                <h5>Fecha del servicio: 25 - 05 - 2024</h5>
                            </div>
                        </div>
                        <div class="service-description">
                            <p>Me encargué de cambiar la puerta y de sacar las medidas correctas necesarias para la ventana.</p>
                            <div class="action-buttons">
                                <button class="action-btn">★ Opinar</button>
                                <button class="action-btn">Llamar</button>
                            </div>
                        </div>
                        
                    </article>
                </li>
                <li class="item-service">
                    <article class="service-card">
                        <div class="header-register">
                            <img src="images/perfill.png" width="100" alt="Perfil de usuario" class="profile-img">
                            <div class="register-data">
                                <h3>Jorge Soteldo</h3>
                                <h5>Servicio: Carpintero</h5>
                                <h5>Tarifa: 50.000gs</h5>
                                <h5>Fecha del servicio: 25 - 05 - 2024</h5>
                            </div>
                        </div>
                        <div class="service-description">
                            <p>Me encargué de cambiar la puerta y de sacar las medidas correctas necesarias para la ventana.</p>
                            <div class="action-buttons">
                                <button class="action-btn">★ Opinar</button>
                                <button class="action-btn">Llamar</button>
                            </div>
                        </div>
                        
                    </article>
                </li>
            
            </ul>

        </section>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch('header.html')
                .then(response => response.text())
                .then(data => {
                    document.querySelector("header").innerHTML = data;
                });
        });
    </script>
</body>
</html>
