body{
    background-color: #f9f9f9;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 50vh;
    width: 70vh;
    gap: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    fieldset{
        width: 90%;
        margin: 0 auto;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;

        border: none;
        div{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            label{
                gap: 1rem;
                display: flex;
                justify-content: space-between;
            }

        }
        
    }
}
.login-bbtn{
    color: #f9f9f9;
    border-radius: 5rem;
    height: 3rem;
    background-color: #ff4500;
    width: 80%;
}

.login-bbtn:hover{
    background-color: #e03e00;
}

footer{
    font-size: 18px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 100%;
}
.info-input {
    width: 95%;
    height: 2rem;
    font-size: 16px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    box-shadow: #ff4500;
}

.info {
    gap : 20px;
}

.box-login{
    display: flex;
    align-items: center;
    justify-content: center;
}