body{
    background-color: #f9f9f9;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.list-services{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.main-page-service h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    padding: 5px 40px;
}

.item-service-profession{
    padding: 10px 40px;
    align-items: center;
    text-align: center;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li img{
    max-height: 100px;

}
.see-btn{
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    width: auto;
    color: #f9f9f9;
    background-color: #ff4500;
    width: 100px;
    transition: #ff4500 0.3s;
    border: none;
}

.see-btn:hover{
    background-color: #e03e00;
}